.faqBlock{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
.queBlock{
    width: 50%;
    height: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.parentQueBlock{
    border: 1px solid red
}

.imageBlock{
    width: 50%;
    height: 100%;
    background-color: aqua;
}
