html {
    --themColor: #000000;
    --cardColor: #4e4e4e;
    --borderColor: #00ff00;
}

.mainBlock{
    width: 99%;
    height: 100vh;
    border: 5px solid red ;
    display: flex;
    justify-content:center ;
   
}

.subBlock{
    border: 5px solid  blue ;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   

}