.MicrogreenParent{
    margin-top: 100px;
    width: 100%;

}

.MicrogreenSubParent{
    height: 470px;

    display: flex;

}

.microGeenImage {
width: 35%;
height: 100%;
object-fit: cover;
border-radius: 10px;
}

.microDetails{
    padding-left: 20px;
    width: 65%;
    height: 100%;
}

.whatSMicrogress{
    width: 100%;
    height: 30%;

}

.QUE{
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
    
}

.ANS{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.types{
    width: 100%;
    height: 36%;
}
.ty1{
    
    font-size: 25px;
    font-weight: 700;
}

.tyd1{

    font-weight: 400;
    padding-top: 10px;
    font-size: 18px;
    line-height: 24px;
}
.benifits{
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
}

.bf1{
    font-size: 25px;
    font-weight: 700;
    padding-top: 10px;
}
.bf2{
    font-weight: 500;
    padding-top: 8px;
    font-size: 18px;
    line-height: 20px;

}