

.subscriptionBox{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.SubBox1{
    width: 22%;
    height: 460px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.headGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon{
width: 50px;
height: 50px;
background-color: green;

border-radius: 50px;
}

.subTitle{
text-align: center;
font-size: 30px;
font-weight: 500;
margin-top: 10px;
}

.description{
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.price{
    margin-top: 20px;
    font-size: 40px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.featuresBox{
    padding: 10px;
    border-radius: 10px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;}


.Button{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 35px;
    background-color: blue;
    border-radius: 10px;
    
}

.Button:hover{
    background-color: brown;
    cursor: pointer;
}