

.subscriptionBox{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.SubBox{
    width: 25%;
    height: 500px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.img{
   width: 100%;
   height: 250px;
   background-color: blueviolet;
   border-radius: 8px;
}