.parentBlock{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px solid greenyellow; */
}

.detailsBlock{
    width: 50%;
    height: 500px;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}

.title{
    font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
font-weight: 500;
padding-left: 10px;
padding-right: 10px;

}

.description{
    font-family: Arial, Helvetica, sans-serif;
text-align: start;
    font-size: 18px;
    text-align: justify;
    padding: 10px;
}


.imageData{
    width: 50%;
    height: 500px;
    /* border: 1px solid green; */
    background-color: aqua;
    
    border-radius: 5px;
    
}